In [1]:
import numpy as np
from openpyxl import load_workbook
def Create_sheet(final_data, savepath):
    global table
    # 操作excel先把excel的数据筛选出来
    save_path = '%s' % savepath
    data = load_workbook(save_path)
    data.create_sheet()
    # 取第一张表
    sheetnames = data.sheetnames
    # 获取第一张表
    table = data[sheetnames[1]]
    table.title = '%s' % final_data
    data.save(save_path)


def get_worksheet(readpath, sheetname):
    read_path = '%s' % readpath
    data = load_workbook(read_path)
    data.create_sheet()
    ws = data[('%s' % sheetname)]
    return ws

# 新建一个FinalData表
# Create_sheet('FinalData')
# 获取指定表
# ws1=get_worksheet(readpath='5_25Test.xlsx', sheetname='原始数据')

In [72]:
import pandas as pd
# 这个pandas处理数据效果不太好 建议用numpy
thedata=pd.read_excel('5_25Test.xlsx')

In [73]:
import numpy as np
data=thedata.iloc[1:,2:67]
# 设置列标题
data.columns=thedata.iloc[0,2:67]
# 将列名全部拿到
col_names=np.array(thedata.iloc[0,2:67])
data

,Con-2,Con-3,Con-4,Con-5,Con-6,Con-7,Con-8,Con-9,Con-10,Con-11,...,Str31,Str32,Str33,Str34,Str35,Str36,Str37,Str38,Str39,Str40
1,L1,1055,4300,380,干法,0,0,1500,1200,700,...,0.07,0.08,0.065,0.068,0.077,0.1,0.07,0.09,0.071,0.08
2,L1,1055,4300,380,干法,0,0.5,1500,1200,700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,L1,1055,4300,380,干法,0,1,1500,1200,700,...,0.062,0.07,0.072,0.068,0.07,0.08,0.064,0.094,0.068,0.072
4,L1,1055,4300,380,干法,0,1.5,1500,1200,700,...,0.063,0.05,0.071,0.07,0.061,0.07,0.062,0.068,0.076,0.08
5,L1,1055,4300,380,干法,0,2,1500,1200,700,...,0.063,0.08,0.07,0.079,0.1,0.1,0.06,0.103,0.097,0.068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,L3,1100,8300,NaN,湿法,0,0.5,0,1000,800,...,0.082,0.08,0.09,0.083,0.08,0.05,0.09,0.098,0.116,0.09
290,L3,1100,8300,NaN,湿法,0,1,0,1000,800,...,0.074,0.09,0.09,0.083,0.1,0.05,0.08,0.111,0.09,0.13
291,L3,1100,8300,NaN,湿法,0,1.5,0,1000,800,...,0.08,0.07,0.08,0.086,0.07,0.1,0.08,0.105,0.092,0.08
292,L3,1100,8300,NaN,湿法,0,2,0,1000,800,...,0.083,0.067,0.07,0.093,0.09,0.11,0.095,0.1,0.11,0.1
293,L3,1100,8300,NaN,湿法,0,1,500,1000,800,...,0.073,0.061,0.08,0.083,0.1,0.05,0.11,0.094,0.08,0.1

In [79]:
thedata=np.array(data)
thedata.any()

'L1'

In [310]:
data=thedata.iloc[1:,2:67]
# 设置列标题
data.columns=thedata.iloc[0,2:67]
# data
# 读取指定的行 处理掉'/'
# data=data.loc[:,'Con-4'].replace('/','NaN')
data=data.loc[:,:].replace('/','NaN')
data
# data.iloc[:,'Con-4']

,Con-2,Con-3,Con-4,Con-5,Con-6,Con-7,Con-8,Con-9,Con-10,Con-11,...,Str31,Str32,Str33,Str34,Str35,Str36,Str37,Str38,Str39,Str40
1,L1,1055,4300,380.0,干法,0.0,0.0,1500,1200,700,...,0.070,0.080,0.065,0.068,0.077,0.10,0.070,0.090,0.071,0.080
2,L1,1055,4300,380.0,干法,0.0,0.5,1500,1200,700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,L1,1055,4300,380.0,干法,0.0,1.0,1500,1200,700,...,0.062,0.070,0.072,0.068,0.070,0.08,0.064,0.094,0.068,0.072
4,L1,1055,4300,380.0,干法,0.0,1.5,1500,1200,700,...,0.063,0.050,0.071,0.070,0.061,0.07,0.062,0.068,0.076,0.080
5,L1,1055,4300,380.0,干法,0.0,2.0,1500,1200,700,...,0.063,0.080,0.070,0.079,0.100,0.10,0.060,0.103,0.097,0.068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,L3,1100,8300,NaN,湿法,0.0,0.5,0,1000,800,...,0.082,0.080,0.090,0.083,0.080,0.05,0.090,0.098,0.116,0.090
290,L3,1100,8300,NaN,湿法,0.0,1.0,0,1000,800,...,0.074,0.090,0.090,0.083,0.100,0.05,0.080,0.111,0.090,0.130
291,L3,1100,8300,NaN,湿法,0.0,1.5,0,1000,800,...,0.080,0.070,0.080,0.086,0.070,0.10,0.080,0.105,0.092,0.080
292,L3,1100,8300,NaN,湿法,0.0,2.0,0,1000,800,...,0.083,0.067,0.070,0.093,0.090,0.11,0.095,0.100,0.110,0.100
293,L3,1100,8300,NaN,湿法,0.0,1.0,500,1000,800,...,0.073,0.061,0.080,0.083,0.100,0.05,0.110,0.094,0.080,0.100

In [302]:
# 读取Y_data
Y_data=thedata.iloc[1:,67:68]

# 设置列标题
Y_data.columns=thedata.iloc[0,67:68]
Y_data

0          per1
1    184.699997
2    187.300003
3    188.699997
4    188.800003
5           185
..          ...
289         NaN
290         NaN
291         NaN
292         NaN
293         NaN

[293 rows x 1 columns]

In [303]:
# 合并数据
tempdata=data.join(Y_data)
# tempdata
# 删除缺失值
#  todo 处理少于80% 直接不考虑这个因素
tempdata=tempdata.dropna(axis=0)
tempdata

,Con-2,Con-3,Con-4,Con-5,Con-6,Con-7,Con-8,Con-9,Con-10,Con-11,...,Str32,Str33,Str34,Str35,Str36,Str37,Str38,Str39,Str40,per1
10,L1,1055,4300,380.0,干法,0.0,0.0,1500,1200,700,...,0.060,0.052,0.069,0.080,0.10,0.060,0.086,0.073,0.093,187.899994
11,L1,1055,4300,380.0,干法,0.0,0.5,1500,1200,700,...,0.080,0.077,0.073,0.070,1.00,0.090,0.082,0.061,0.090,185.899994
12,L1,1055,4300,380.0,干法,0.0,1.0,1500,1200,700,...,0.080,0.065,0.070,0.080,0.10,0.090,0.075,0.075,0.093,188.300003
13,L1,1055,4300,380.0,干法,0.0,1.5,1500,1200,700,...,0.060,0.066,0.070,0.070,0.08,0.060,0.081,0.073,0.077,187.300003
14,L1,1055,4300,380.0,干法,0.0,2.0,1500,1200,700,...,0.050,0.058,0.072,0.070,0.04,0.050,0.107,0.081,0.090,183.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,L3,1100,4300,270.0,干法,0.0,6.0,500,1000,800,...,0.070,0.070,0.073,0.070,0.05,0.080,0.078,0.083,0.080,188.100006
238,L3,1080,6300,270.0,湿法,0.0,3.0,0,1000,800,...,0.078,0.077,0.075,0.079,0.07,0.085,0.087,0.080,0.080,188.199997
241,L3,1080,6300,270.0,干法,0.0,3.0,500,1000,800,...,0.070,0.070,0.075,0.070,0.08,0.080,0.086,0.076,0.090,184.399994
242,L3,1080,6300,270.0,干法,0.0,4.0,500,1000,800,...,0.080,0.060,0.076,0.075,0.20,0.070,0.091,0.073,0.080,182.100006
243,L3,1080,6300,270.0,干法,0.0,5.0,500,1000,800,...,0.060,0.070,0.076,0.070,0.20,0.050,0.076,0.071,0.080,182.899994

In [304]:
# 分开 X数据集 和Y数据集
X_data=tempdata.iloc[:,0:65]
Y_data=tempdata.iloc[:,65:66]
Y_data

0          per1
10   187.899994
11   185.899994
12   188.300003
13   187.300003
14        183.5
..          ...
230  188.100006
238  188.199997
241  184.399994
242  182.100006
243  182.899994

[113 rows x 1 columns]

In [305]:
# 分别处理X的数据和Y的数据
# 处理非数值的数据
X_data.loc[:,'Con-2']=X_data.loc[:,'Con-2'].replace('L1','1')
X_data.loc[:,'Con-2']=X_data.loc[:,'Con-2'].replace('L2','2')
X_data.loc[:,'Con-2']=X_data.loc[:,'Con-2'].replace('L3','3')
X_data.loc[:,'Con-2']=X_data.loc[:,'Con-2'].replace('L4','4')
# todo 查找关键字
X_data.loc[:,'Con-6']=X_data.loc[:,'Con-6'].replace('干法','0')
X_data.loc[:,'Con-6']=X_data.loc[:,'Con-6'].replace('湿法','1')
X_data

,Con-2,Con-3,Con-4,Con-5,Con-6,Con-7,Con-8,Con-9,Con-10,Con-11,...,Str31,Str32,Str33,Str34,Str35,Str36,Str37,Str38,Str39,Str40
10,1,1055,4300,380.0,0,0.0,0.0,1500,1200,700,...,0.064,0.060,0.052,0.069,0.080,0.10,0.060,0.086,0.073,0.093
11,1,1055,4300,380.0,0,0.0,0.5,1500,1200,700,...,0.063,0.080,0.077,0.073,0.070,1.00,0.090,0.082,0.061,0.090
12,1,1055,4300,380.0,0,0.0,1.0,1500,1200,700,...,0.064,0.080,0.065,0.070,0.080,0.10,0.090,0.075,0.075,0.093
13,1,1055,4300,380.0,0,0.0,1.5,1500,1200,700,...,0.065,0.060,0.066,0.070,0.070,0.08,0.060,0.081,0.073,0.077
14,1,1055,4300,380.0,0,0.0,2.0,1500,1200,700,...,0.070,0.050,0.058,0.072,0.070,0.04,0.050,0.107,0.081,0.090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,3,1100,4300,270.0,0,0.0,6.0,500,1000,800,...,0.067,0.070,0.070,0.073,0.070,0.05,0.080,0.078,0.083,0.080
238,3,1080,6300,270.0,1,0.0,3.0,0,1000,800,...,0.074,0.078,0.077,0.075,0.079,0.07,0.085,0.087,0.080,0.080
241,3,1080,6300,270.0,0,0.0,3.0,500,1000,800,...,0.067,0.070,0.070,0.075,0.070,0.08,0.080,0.086,0.076,0.090
242,3,1080,6300,270.0,0,0.0,4.0,500,1000,800,...,0.064,0.080,0.060,0.076,0.075,0.20,0.070,0.091,0.073,0.080
243,3,1080,6300,270.0,0,0.0,5.0,500,1000,800,...,0.077,0.060,0.070,0.076,0.070,0.20,0.050,0.076,0.071,0.080

In [306]:
# 处理Y的值
# 取前5% 为1 后5%为-1 其余的为0
# 先找出最大值   int(Y_data.max())
# 1. 当`df[2]>0.6`时，用`df[1]`的值替代`df[3]`的值，否则用df[0]的值保持。
flag=float(Y_data.max())*0.95
flag
# 依次处理数据
# todo 转变成 np array
for curindex in range(0,len(Y_data)):
    # curvalue =Y_data.iloc[curindex:curindex+1,:]
    curvalue=np.float(Y_data.iloc[curindex])
    # print(curvalue)
    # 如果在前 0.05 设置为1
    if(curvalue >flag):
        Y_data.iloc[curindex:curindex+1,:]=1
    # 如果在后0.05 设置为-1
    elif(curvalue <(1-flag)):
        Y_data.iloc[curindex:curindex+1,:]=-1
    # 其他情况 为0
    else:
        Y_data.iloc[curindex:curindex+1,:]=0

# Y_data[3] = np.where(Y_data[2]>int(Y_data.max()), Y_data[1], Y_data[0])

Y_data

C:\Users\king\AppData\Local\Temp\ipykernel_16060\2161628864.py:10: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  curvalue=np.float(Y_data.iloc[curindex])

0   per1
10     1
11     1
12     1
13     1
14     0
..   ...
230    1
238    1
241    0
242    0
243    0

[113 rows x 1 columns]

In [345]:
# print(X_data.isnull().any())
X_data=np.array(X_data)
X_data[X_data=='NaN']='@'
if '@' in X_data:
    print(1123)

In [333]:
from numpy import float64
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

# 开始训练模型 采取随机森林测试
# 获取模型  随机森林
Rfc=RandomForestClassifier()
# 梯度提升树
Gbc=GradientBoostingClassifier()
# 训练模型
Rfc.fit(X_data, Y_data.astype(float64))
Gbc.fit(X_data, Y_data.astype(float64))
y_1 = Rfc.predict(X_data)
y_2 = Gbc.predict(X_data)

# 预测结果，用的 r2_score
#计算拟合的结果（测试集的）
y1_score=r2_score(Y_data,y_1)
y2_score=r2_score(Y_data,y_2)

print(y1_score)
print(y2_score)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
# 分分割线-------------------------------------------------------------------------------------------------

In [84]:
# 直接删除有缺失值的
data=data.dropna(axis=0)
# 查看存在缺失值
data.any()
# data.isnull()

In [97]:
X_data=data
# 获取X的数据集
X_data

,Con-2,Con-3,Con-4,Con-5,Con-6,Con-7,Con-8,Con-9,Con-10,Con-11,...,Str31,Str32,Str33,Str34,Str35,Str36,Str37,Str38,Str39,Str40
10,1,1055,4300,380.0,0,0.0,0.0,1500,1200,700,...,0.064,0.060,0.052,0.069,0.080,0.10,0.060,0.086,0.073,0.093
11,1,1055,4300,380.0,0,0.0,0.5,1500,1200,700,...,0.063,0.080,0.077,0.073,0.070,1.00,0.090,0.082,0.061,0.090
12,1,1055,4300,380.0,0,0.0,1.0,1500,1200,700,...,0.064,0.080,0.065,0.070,0.080,0.10,0.090,0.075,0.075,0.093
13,1,1055,4300,380.0,0,0.0,1.5,1500,1200,700,...,0.065,0.060,0.066,0.070,0.070,0.08,0.060,0.081,0.073,0.077
14,1,1055,4300,380.0,0,0.0,2.0,1500,1200,700,...,0.070,0.050,0.058,0.072,0.070,0.04,0.050,0.107,0.081,0.090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,3,1100,4300,270.0,0,0.0,6.0,500,1000,800,...,0.067,0.070,0.070,0.073,0.070,0.05,0.080,0.078,0.083,0.080
238,3,1080,6300,270.0,1,0.0,3.0,0,1000,800,...,0.074,0.078,0.077,0.075,0.079,0.07,0.085,0.087,0.080,0.080
241,3,1080,6300,270.0,0,0.0,3.0,500,1000,800,...,0.067,0.070,0.070,0.075,0.070,0.08,0.080,0.086,0.076,0.090
242,3,1080,6300,270.0,0,0.0,4.0,500,1000,800,...,0.064,0.080,0.060,0.076,0.075,0.20,0.070,0.091,0.073,0.080
243,3,1080,6300,270.0,0,0.0,5.0,500,1000,800,...,0.077,0.060,0.070,0.076,0.070,0.20,0.050,0.076,0.071,0.080

In [99]:
# 处理非数值的数据
X_data.loc[:,'Con-2']=X_data.loc[:,'Con-2'].replace('L1','1')
X_data.loc[:,'Con-2']=X_data.loc[:,'Con-2'].replace('L2','2')
X_data.loc[:,'Con-2']=X_data.loc[:,'Con-2'].replace('L3','3')
X_data.loc[:,'Con-2']=X_data.loc[:,'Con-2'].replace('L4','4')

X_data.loc[:,'Con-6']=X_data.loc[:,'Con-6'].replace('干法','0')
X_data.loc[:,'Con-6']=X_data.loc[:,'Con-6'].replace('湿法','1')
X_data

C:\Users\king\AppData\Local\Temp\ipykernel_16060\2228878737.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_data.loc[:,'Con-2']=X_data.loc[:,'Con-2'].replace('L1','1')
C:\Users\king\AppData\Local\Temp\ipykernel_16060\2228878737.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_data.loc[:,'Con-2']=X_data.loc[:,'Con-2'].replace('L2','2')
C:\Users\king\AppData\Local\Temp\ipykernel_16060\2228878737.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_data.loc[:,'Con-2']=X_data.loc[:,'Con-2'].replace('L3','3')
C:\Users\king\AppData\Local\Temp\ipykernel_16060\2228878737.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_data.loc[:,'Con-2']=X_data.loc[:,'Con-2'].replace('L4','4')
C:\Users\king\AppData\Local\Temp\ipykernel_16060\2228878737.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_data.loc[:,'Con-6']=X_data.loc[:,'Con-6'].replace('干法','0')
C:\Users\king\AppData\Local\Temp\ipykernel_16060\2228878737.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_data.loc[:,'Con-6']=X_data.loc[:,'Con-6'].replace('湿法','1')

,Con-2,Con-3,Con-4,Con-5,Con-6,Con-7,Con-8,Con-9,Con-10,Con-11,...,Str31,Str32,Str33,Str34,Str35,Str36,Str37,Str38,Str39,Str40
10,1,1055,4300,380.0,0,0.0,0.0,1500,1200,700,...,0.064,0.060,0.052,0.069,0.080,0.10,0.060,0.086,0.073,0.093
11,1,1055,4300,380.0,0,0.0,0.5,1500,1200,700,...,0.063,0.080,0.077,0.073,0.070,1.00,0.090,0.082,0.061,0.090
12,1,1055,4300,380.0,0,0.0,1.0,1500,1200,700,...,0.064,0.080,0.065,0.070,0.080,0.10,0.090,0.075,0.075,0.093
13,1,1055,4300,380.0,0,0.0,1.5,1500,1200,700,...,0.065,0.060,0.066,0.070,0.070,0.08,0.060,0.081,0.073,0.077
14,1,1055,4300,380.0,0,0.0,2.0,1500,1200,700,...,0.070,0.050,0.058,0.072,0.070,0.04,0.050,0.107,0.081,0.090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,3,1100,4300,270.0,0,0.0,6.0,500,1000,800,...,0.067,0.070,0.070,0.073,0.070,0.05,0.080,0.078,0.083,0.080
238,3,1080,6300,270.0,1,0.0,3.0,0,1000,800,...,0.074,0.078,0.077,0.075,0.079,0.07,0.085,0.087,0.080,0.080
241,3,1080,6300,270.0,0,0.0,3.0,500,1000,800,...,0.067,0.070,0.070,0.075,0.070,0.08,0.080,0.086,0.076,0.090
242,3,1080,6300,270.0,0,0.0,4.0,500,1000,800,...,0.064,0.080,0.060,0.076,0.075,0.20,0.070,0.091,0.073,0.080
243,3,1080,6300,270.0,0,0.0,5.0,500,1000,800,...,0.077,0.060,0.070,0.076,0.070,0.20,0.050,0.076,0.071,0.080

In [86]:
from pandas import DataFrame
import numpy as np
# 找到有缺失数据的索引
# NullLine=data[data.isnull().values==True]
# # NullLine.index.values
# # 删除多行数据 可以传列表 axis 0代表行 1代表列
# a=data.drop(NullLine.index.values,axis=0)
# a

In [89]:
import numpy as np
# 找到有缺失数据的索引
# NullLine=data[data.isnull().values==True]
# type(np.array(NullLine))
# for i in  NullLine.index:
#     X_data = data.drop([NullLine[0]])
# 找到索引
# NullIndex=NullLine.index.values[0]
# X_data = data.drop(data.index[NullIndex])
# X_data

In [88]:
# 读取指定的行 处理掉'/'
# data.loc[:,'Con-4'].replace('/','NaN')
# b=data.drop(NullLine.index.values,axis=0)
# b
# data.isnull().T.any()

In [90]:
#获取Y的数据集
# per1 到 per26  per9 到per12 没用数据

In [104]:
X_data

,Con-2,Con-3,Con-4,Con-5,Con-6,Con-7,Con-8,Con-9,Con-10,Con-11,...,Str31,Str32,Str33,Str34,Str35,Str36,Str37,Str38,Str39,Str40
10,1,1055,4300,380.0,0,0.0,0.0,1500,1200,700,...,0.064,0.060,0.052,0.069,0.080,0.10,0.060,0.086,0.073,0.093
11,1,1055,4300,380.0,0,0.0,0.5,1500,1200,700,...,0.063,0.080,0.077,0.073,0.070,1.00,0.090,0.082,0.061,0.090
12,1,1055,4300,380.0,0,0.0,1.0,1500,1200,700,...,0.064,0.080,0.065,0.070,0.080,0.10,0.090,0.075,0.075,0.093
13,1,1055,4300,380.0,0,0.0,1.5,1500,1200,700,...,0.065,0.060,0.066,0.070,0.070,0.08,0.060,0.081,0.073,0.077
14,1,1055,4300,380.0,0,0.0,2.0,1500,1200,700,...,0.070,0.050,0.058,0.072,0.070,0.04,0.050,0.107,0.081,0.090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,3,1100,4300,270.0,0,0.0,6.0,500,1000,800,...,0.067,0.070,0.070,0.073,0.070,0.05,0.080,0.078,0.083,0.080
238,3,1080,6300,270.0,1,0.0,3.0,0,1000,800,...,0.074,0.078,0.077,0.075,0.079,0.07,0.085,0.087,0.080,0.080
241,3,1080,6300,270.0,0,0.0,3.0,500,1000,800,...,0.067,0.070,0.070,0.075,0.070,0.08,0.080,0.086,0.076,0.090
242,3,1080,6300,270.0,0,0.0,4.0,500,1000,800,...,0.064,0.080,0.060,0.076,0.075,0.20,0.070,0.091,0.073,0.080
243,3,1080,6300,270.0,0,0.0,5.0,500,1000,800,...,0.077,0.060,0.070,0.076,0.070,0.20,0.050,0.076,0.071,0.080

In [139]:
# 读取Y_data
Y_data=thedata.iloc[1:,67:68]
Y_data
# 设置列标题
Y_data.columns=thedata.iloc[0,67:68]
Y_data

0          per1
1    184.699997
2    187.300003
3    188.699997
4    188.800003
5           185
..          ...
289         NaN
290         NaN
291         NaN
292         NaN
293         NaN

[293 rows x 1 columns]